
footer {
  text-align: center;
  margin-top: 60px;
}

h1 {
  margin: 0px auto;
  text-align: center;
  padding: 20px;
}

h2 {
  width: 80%;
  margin: 0px auto;
}

h3 {
  margin: 0px 0px 20px 0px;
  padding: 0px;
}

h4 {
  margin: 0px 0px 20px 0px;
  padding: 0px;
}

p {
  margin: 0px 0px 10px 0px;
  padding: 0px;
}

#page-wrapper {
  width: 90%;
  margin: 1px auto;
}

#map-container {

}

#permit-container {
  /*margin-top: 5%;*/
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 200%;
  font-weight: 300;
  margin-left: 12px;
  margin-top: 10px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #004cff;
}

#stats-container {
  margin-left: 15%;
  margin-right: 15%;
}

.permits-search-display {
  border: 1px solid darkgray;
  padding: 10px;
  margin: 10px 0px 10px 0px;
}

#chosen-permit-container {
  border: 1px solid darkgray;
  padding: 10px;
  margin: 10px 0px 10px 0px;
  background-color: #cccccc;
}

.chosen-permit-header {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 640px) {
  /* change map container and permit container to side by side */
  #main-wrapper {
    display: flex;
    align-items: flex-start;
  }
  #map-container {
    width: 60%;
  }
  #permit-container  {
    width: 40%;
    margin-top: 0%;
    margin-left: 2%;
  }
  .permits-search-display {
    padding: 10px;
    margin: 0px 0px 10px 0px;
  }
  #chosen-permit-container {
    padding: 10px;
    margin: 0px 0px 10px 0px;
  }
}
